<!-- <form [formGroup]="deliveryForm" ><ng-container *ngIf="delivery">
    <div style="margin: 0 auto;text-align: left;">
          <div>
            <label>Zipcode:</label>
            <div><input id="zip" type="text" formControlName="zip" (keyup)="onKeyUp($event)"/></div>
        </div>  
        <div>
            <label>Flat / House No. :</label>
            <div><input id="flat" type="text" formControlName="flat"/></div>
        </div>
        <div>
            <label>Store:</label>
            <div><input id="city" type="text" formControlName="city" /></div>
        </div>
        
    </div> 
  </ng-container></form> -->